<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
	<test name="Test">
		<classes>
			<class name="testPackage.TestSignUp" />
			<class name="testPackage.AuthenticateNewUser" />
			<class name="testPackage.TestSubCategoryIsSelected" />
			<class name="testPackage.TestAddToCartFunctionality" />
			<class name="testPackage.TestHistoryPage" />
		</classes>
	</test> 
</suite> 
